<a href="https://colab.research.google.com/github/hyeji-K/AI_example/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = "Life is too short"
len(a)

17

In [3]:
a[5]

'i'

In [4]:
"{{ and }}".format()

'{ and }'

In [7]:
name = "고양이"
age = 6
f'{name}는 {age}살 입니다.'

'고양이는 6살 입니다.'

In [8]:
f'{name}는 내년이면 {age + 1}살이 된다.'

'고양이는 내년이면 7살이 된다.'

In [9]:
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "David": 90}

In [16]:
# 모든 학생의 이름과 점수를 출력하는 코드
for name, score in student_scores.items():
    print(f'{name} 학생은 점수가 {score}점입니다.')

Alice 학생은 점수가 85점입니다.
Bob 학생은 점수가 92점입니다.
Charlie 학생은 점수가 78점입니다.
David 학생은 점수가 90점입니다.

In [19]:
# Eve라는 학생의 점수를 88로 추가하세요
student_scores["Eve"] = 88
print(student_scores)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 90, 'Eve': 88}

In [20]:
# Bob의 점수를 95로 수정하세요
student_scores["Bob"] = 95
print(student_scores)

{'Alice': 85, 'Bob': 95, 'Charlie': 78, 'David': 90, 'Eve': 88}

In [22]:
# Charlie의 항목을 딕셔너리에서 삭제하세요
del student_scores["Charlie"]
print(student_scores)

{'Alice': 85, 'Bob': 95, 'David': 90, 'Eve': 88}

In [25]:
# 모든 학생의 점수의 합계를 계산하세요
sum = 0
for value in student_scores.values():
    sum += value
print(sum)

358

In [26]:
numbers = [3, 8, 1, 6, 0, 8, 4, 10, 12, 8, 2]

In [27]:
# 이 리스트에서 중복된 요소를 제거하고 고유한 요소만으로 이루어진 리스트를 만드세요
result = list(set(numbers))
print(result)

[0, 1, 2, 3, 4, 6, 8, 10, 12]

In [28]:
# 리스트에서 짝수만 추출하여 새로운 리스트를 만드세요
b = []
for i in result:
    if i % 2 == 0:
        b.append(i)
print(b)

[0, 2, 4, 6, 8, 10, 12]

In [34]:
# 리스트의 요소 중 최대값과 최소값의 차이를 구하세요
b[-1] - b[0]

12

In [41]:
result = [i for i in range(1, 21) if i % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
text = "Hello, Python! Welcome to the world of programming."
text[15:35]

'Welcome to the world'

In [57]:
text[7:13] + text[39:]

'Pythonprogramming.'

In [67]:
data = 3
fmt = f"{{ {data} }}"
print(fmt)

{ 3 }

In [69]:
a = 3
mystr = f"{a:02d}"
print(mystr)

03

In [71]:
symbol = "BTCUSDT"
print(f"{symbol:10}")

BTCUSDT

In [72]:
a = 1, 2
b = (1, 2)

print(a, type(a))
print(b, type(b))

(1, 2) <class 'tuple'>
(1, 2) <class 'tuple'>

In [73]:
data = (1, 2, 3)
n1, n2, n3 = data
print(n1, n2, n3)

1 2 3

In [76]:
scores = (1, 2, 3, 4, 5, 6)
low, *others, high = scores
print(low, others, high)

1 [2, 3, 4, 5] 6

In [77]:
def foo():
    return 1, 2, 3

In [79]:
val = foo()
print(type(val))
print(val)

<class 'tuple'>
(1, 2, 3)

In [80]:
def sum(num1, num2, num3, num4):
    return num1+num2+num3+num4

scores = (1, 2, 3, 4)
result = sum(*scores)
print(result)

10

In [88]:
name = ['merona', 'gugucon']
price = [500, 1000]

# z = zip(name, price)
# print(list(z))
icecream = {k:v for k, v in zip(name, price)}
print(icecream)

{'merona': 500, 'gugucon': 1000}

In [83]:
for n, p in zip(name, price):
    print(n, p)

merona 500
gugucon 1000

In [84]:
data = {}

ret = data.setdefault('a', 0)
print(ret, data)

0 {'a': 0}

In [85]:
data['b'] = 9
print(data)

{'a': 0, 'b': 9}

In [86]:
ret = data.setdefault('a', 1)
print(ret, data)

0 {'a': 0, 'b': 9}

In [87]:
data['b'] = 8
print(data)

{'a': 0, 'b': 8}

In [90]:
from collections import namedtuple

Book = namedtuple('Book', ['title', 'price'])
mybook = Book("파이썬을 이용한 비트코인 자동매매", 27000)
print(mybook.title)
print(mybook.price)

파이썬을 이용한 비트코인 자동매매
27000

In [91]:
mybook[0]

'파이썬을 이용한 비트코인 자동매매'

In [93]:
def print_book(title, price):
    print(title, price)

print_book(*mybook)

파이썬을 이용한 비트코인 자동매매 27000